<div>
    <div class="module-heading">Routing and Navigation</div>
    <div class="show-content">
      <div>Check dynamic Routing</div>
      <div class="input-container">
        <span class="mr-1">Enter Your Name:</span>
        <input class="input mr-1" type="text" (change)="updateUserName($event)" placeholder="Your name here" />
        <a appPrimaryButton [routerLink]="['/welcome', enteredUserName]" class="button mr-1">Check</a>
        <a appPrimaryButton [routerLink]="['/']" class="button">Reset</a>
      </div>
    </div>
  </div>
  