.home-page-main{

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 16px; 
    padding: 16px; 
  
}
.sub-component{
    height: 450px;
    width: 350px;
    margin: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    flex: 1 1 calc(33.333% - 32px); /* Adjust width based on available space */
    box-sizing: border-box; /* Include padding/border in width calculation */
    padding: 16px; /* Optional: Padding inside items */
    background-color: #f0f0f0; /* Optional: Background color */
    margin-bottom: 16px; /* Space at the bottom of each item */
    border-radius: 8px; /* Optional: Rounded corners */
}

  .sub-component:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }