<div class="home-page-main">
   <div class="sub-component">
      <app-module-four></app-module-four>
   </div>
   <div class="sub-component">
      <app-module-five></app-module-five>
   </div>
   <div class="sub-component">
      <app-module-six></app-module-six>
   </div>
   <div class="sub-component">
      <app-module-seven></app-module-seven>
   </div>
   <div class="sub-component">
      <app-module-eight></app-module-eight>
   </div>
   <div class="sub-component">
      <app-module-nine></app-module-nine>
   </div>
</div>
