<div>
    <div class="module-heading"> Advanced Observables and RxJS</div>
    <div class="show-content">
    
      <div class="flex m-1 ">
        <button appPrimaryButton class="button mr-1" (click)="showMappedContent()">Display Map Console</button>
        <button appPrimaryButton class="button mr-1" (click)="showFilterContent()">Display Filter Console</button>
        <button appPrimaryButton class="button mr-1" (click)="showMargeMapContent()">Display merge Map Console</button>
      </div>
      
    </div>
  </div>
  